[run]
source = .
omit =
    */tests/*
    */venv/*
    */privacy_proxy_env/*
    setup.py
    */site-packages/*
    */__pycache__/*
    *.pyc

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError